.weather {
    width: 300px;
    margin: 20px auto 0 auto;
    box-shadow: 2px 2px 4px rgba(black, 0.2);
    border-radius: 5px;
    color: white;
    background-color: #333;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
