.weather {
    width: 300px;
    margin: 20px auto 0 auto;
    padding: 0 20px 20px 20px;
    box-shadow: 2px 2px 4px rgba(black, 0.2);
    border-radius: 5px;
    color: white;
    background-color: #333;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.city {
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    margin: 0;
    letter-spacing: 1px;
}

.description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    margin: 0;
}

.weatherIcon {
    width: 100px;
}
